[submodule "flex_ldbc_snb"]
	path = flex_ldbc_snb
	url =  git@github.com:Arsering/flex_ldbc_snb.git
[submodule "flex/graphscope_bufferpool"]
	path = flex/graphscope_bufferpool
	url =  git@github.com:Arsering/graphscope_bufferpool.git
